%h1 求人情報検索API
%p クエリに一致した求人を25件ずつ返します。

%h2 API URL
= link_to 'GET api/dev/jobs', api_dev_jobs_path

%h2 Parameters
%table.table.table-hover
  %tbody
    %tr
      %td
        %span q
        %span (optional)
      %td
        %a(href="https://github.com/activerecord-hackery/ransack") activerecord-hackery/ransack
        のquery構文が使えます
    %tr
      %td
        %span page
        %span (optional)
      %td ページ番号を指定して求人を取得します

%h2 Example Request
= link_to 'GET api/dev/jobs?q[company_name_cont]=grooves', api_dev_jobs_path(q: {company_screen_name_cont: :grooves})

%h2 Example Response
%pre
  %code.json
    :plain
      [
        {
          "id": 308,
          "title": "\n技術が好きなエンジニアのキャリア構築を支援する「Forkwell」「Forkwell Jobs」の開発エンジニアを募集！\n",
          "raw_description": "\n\n\n 求人詳細\n\n\n 会社情報\n\n\n 応援チャート\n\n\n\n\n\n\n\n基本データ\n\n提示年収\n400万円〜800万円\n\n職種\nWebアプリケーションエンジニア\n勤務地\n\n\n\n東京 表参道\n\n\n\n\n\n現場で使われている技術\n\n\n\n\n\nruby\n\n\n\n\n\n\nruby-on-rails\n\n\n\n\n\n\njavascript\n\n\n\n\n\n\nmysql\n\n\n\n\n\n\namazon-web-services\n\n\n\n\n\n\ncoffeescript\n\n\n\n\nこだわり条件\n\n\n\nアジャイルを取り入れている\n\n\n\nPull Requestでコードレビュー\n\n\n\nGitHubを使っている\n\n\n\nB2Cのサービスを運営\n\n\n\n女性エンジニアが在籍\n\n\n\n\n会社はどんな事業を行なっていますか？\n株式会社grooves は求人企業と人材紹介企業を仲介する採用支援事業、および求人企業と求職者を仲介する求人サイト、キャリアエージェント事業等を行っている会社です。\n\n2004年3月、現代表の池見幸浩が前職の同僚だった大畑貴文（現・取締役）と共に創業。ただ設立時点ではメインとなる事業を何にするか決めておらず、ただ「誰かにより良い未来へのきっかけを与えたい」という想いだけがありました。\n\nいくつかの事業を試行錯誤で行う中で、知人の転職を斡旋して非常に喜んでもらえたという経験をし、HRの分野に着目。9兆円という国内市場の中にあって、まだ存在しない新しい価値を提供することができれば、大手に十分対抗しうる事業に育てることができると考え、HRに本腰を入れる方針を決定しました。\n\n人材紹介の分野ではリクルートエージェント等の少数のビッグプレーヤーと、社員が数人規模の小規模な事業所が多数という極端な二極化構造となっており、中小エージェントではきめ細かいサポートができるものの求人の開拓力に劣るという問題が存在していました。  \n\nそこで大畑が考案したのが、そういった中小規模の人材紹介会社と求人企業を仲介するサービス。自社で開拓した求人をクライアントの人材紹介会社に提供、クライアントは抱えている求職者の中から適切な人をそこに推薦して転職斡旋できるというものでした。\n\n「人財紹介net 」と名付けたこのサービスを2005年11月にリリース。この種のサービスとしては国内初でした。\n人材紹介会社にとっては求職者に対してより多くの選択肢（求人）を紹介できる、求人企業にとっては複数の中小エージェントとの煩雑な契約ややりとりを一本化できるというメリットがあり、同時に人材紹介会社と求人企業の双方に対してきめ細かいサポートを提供することで、着実に導入企業を伸ばしていきました。\n\n2014年6月にはサービス名を「Crowd Agent（クラウドエージェント） 」に変更、約400社の人材紹介会社（エージェントは1,000名以上）と3,400社以上の求人企業を抱えるサービスになっています。\n\nいっぽう2010年頃から、普及してきた SNS を採用活動に活用しようとする「ソーシャルリクルーティング」の波が日本にも押し寄せてきました。そのトレンドに対応すべく grooves の開発部門を分離、株式会社garbsとして独立させ、新サービスの開発に取りかかりました。\n\nそして2011年1月に Facebookページ上に簡単に求人掲載できるアプリ「Social Job Posting」をリリース。このアプリは日本語、英語、中国語の3ヶ国語に対応しており、日本を始めとするアジアを中心に19ヵ国1,700ページ以上に導入され、Facebook を活用した採用支援アプリケーションでは国内No.1の実績となりました。\nその実績が評価され、garbs は2011年11月にサイバーエージェント・ベンチャーズ、翌2012年3月には日本ベンチャーキャピタルより、総額約1.3億円の資金調達を実施しています。\n\nそして Ruby と Ruby on Rails のコミッターであり、garbs の技術顧問だった松田明の紹介により入社した大岡由佳の提案により、garbs は ITエンジニアに特化したキャリア支援サービスに注力することになります。2012年4月、エンジニアのスキルやアウトプットを可視化するサービス「Forkwell 」がリリースされると、ITmedia を始めとする各種ネットメディアに紹介され、多数の「ギーク」と呼ばれる技術好きのエンジニアが登録しました。\n\nさらに 2013年6月、Forkwell  のポートフォリオと連携した ITエンジニア専用の求人サイト「Forkwell Jobs 」がスタート。サイトのコンセプトとして徹底したエンジニア目線にこだわり、現場で使われている技術や職場の開発環境など、転職の際に技術好きのエンジニアなら気になるだろう情報を詳しく掲載。他社サイトもこぞってそのエッセンスを採り入れるようになりました。\n\nForkwell Jobs  の採用事例が堅調に伸び始め、また grooves で始めていた転職エージェント事業が ITエンジニアに特化して「Forkwellキャリア相談室 」として Forkwellブランドのサービスになるなど、grooves と garbs 双方のサービス連携が深まってきたため、2014年4月に2社は合併。grooves を存続会社として、さらなる発展に向け新たにスタートを切り直しました。\n\n創業当初の池見・大畑の「誰かにより良い未来へのきっかけを与えたい」という想いは Crowd Agent  と Forkwell  という2つのサービスの形を取り、現実にキャリアアップを望む人や優秀な人材を採用したい企業に「きっかけ」を与え続けています。\n「ヒトと会社に、きっかけを」をミッションに、grooves は HR の分野にイノベーションを起こす企業でありたいと考えています。\n\n【参考リンク】\n\nソーシャルリクルーティングのgarbs、NVCCから6000万調達。早期事業拡大へ ：Venture Now \n\n主に携わることになるサービス、プロダクトはどのようなものですか？\nITエンジニア向けのポートフォリオサービス「Forkwell 」、およびエンジニア向け求人サイト「Forkwell Jobs 」の開発に携わっていただきます。\n\nForkwell \n\nエンジニアが自らのアウトプットを「ポートフォリオ」としてまとめ、セルフブランディングに役立てることができるサービス。2012年4月リリース。\n\n技術ブログや発表スライド、GitHub 等で公開しているリポジトリ、開発に携わったアプリ・サービスといったものが登録可能。また身につけている言語やその他のスキルをタグとして自らに貼り付け、他のユーザーからそのスキルを保証してもらうことで、自分がどんな技術に強いエンジニアであるかが可視化されます。\n\n現在、1万人以上のエンジニアが登録中。\n\nForkwell Jobs \n\n「ITエンジニア向けの求人サイトはかくあるべき」と構想・企画段階からエンジニアが中心となって作られたサービス。\n\n従来の求人サイトのように企業の人事目線から応募資格や労働条件などが一方的に書き連ねられたものではなく、開発の現場で用いられている技術、チームの開発スタイルやプロジェクトの進行形式などを記述。求職者が実際にそのポジションで働いている場面を具体的にイメージしやすくしています。\n\nリリース以来この求人エッセンスは他社のサービスにも採り入れられ、エンジニア向け求人の新しいスタンダードとなりつつあります。Forkwell Jobs には既存の大手求人サイトと異なり、高いスキルやキャリアを持ったエンジニアからのアプローチが多いサービスとして、クライアント企業から高い評価を受けています。\n\nForkwell jobs  は成果報酬型のサービスとなっており、採用に成功した企業は一律80万円の手数料が課されます。また求人掲載にあたっては求人コンテンツをクライアント企業が全て用意する無料プランから、現役エンジニアの監修により作成をお手伝いするプラン、取材込みで全てのコンテンツを当社で作成するプランがあります。\n\n掲載基準に満たない掲載依頼はお断りするなど求人を厳選しているため、2014年6月時点の掲載求人件数は200件ほどと決して多くありませんが、採用成功事例 は着実に増え続けており、クライアント企業からの満足度も非常に高い状況となっております。\n\n【参考リンク】\n\nギーク向けLinkedIn!? 「Forkwell」はどんなサービス？ - atmarkIT \nエンジニアのSNS「Forkwell」が大幅リニューアル、求人サイト「Forkwell Jobs」もローンチ - THE BRIDGE \nForkwell Jobsはエンジニアの味方の求人サイト！ 本日リリースしました - 表参道フォークウヱル別館 \n\n\nForkwellとForkwell Jobsの2つのサービスを開発しています。\n採用されると、どのような業務をすることになりますか？\nForkwell  および Forkwell Jobs  の機能改善と新規機能の開発、およびインフラ運用など、サービスを運営していく際に必要となる技術的なもの全てが担当となります。\n\nまた2つともエンジニア向けのサービスのため、サービス作りにエンジニアの意見が非常に重要視されます。エンジニアからの提案による企画、施策も多いです。\n\n現場で使われる技術について教えてください。\nForkwell 、Forkwell Jobs  共に標準的な構成の Railsアプリです。\n\nフロントエンドについては Haml、Sass、CoffeeScript で記述。テストは RSpec、Capybara、Poltergeist を組み合わせて、単体テストから受け入れテストまでを行っています。\n\nデータベースは MySQL、KVS として Redis を多少使っています。\nインフラは全て AWS で、デプロイは Capistrano で行っています。またパフォーマンスモニターに New Relic を使用。\n\nチーム開発は GitHub を使って行い、タスク管理に Pivotal Tracker、情報共有に Qiita:Team、チャットツールに Slack を使っています。\n\nその他、技術面でアピールしたいポイントは何ですか？\nエンジニア、デザイナー共にコードを書く際には、あらかじめ自分の作業範囲を決めないで仕事を進めています。（※いわゆる「生煮え Pull Request 方式 」）\n経験豊かな助っ人メンバーによる容赦ないコードレビューが受けられます。Ruby の業務経験のない新人でも、3ヶ月もこの環境にいると立派に育ちます。\n新しい技術を学ぶための社外勉強会を開いています。2014年6月現在は、（現在は Vue.jsもくもく会 ）を月2ペースで開催しています。\n\n\n\nプロジェクトの進め方について教えてください。\n『アジャイルサムライ 』に書いてあるようなアジャイル開発を行っています。\n2週間1イテレーションをベースとし、毎週のふりかえりと、その際の見積もり・計画によって、作業を決定していきます。\n\n見積もりに当たっては、Pivotal Tracker に並んだストーリーに優先度を付けるのですが、ここにはディレクターだけでなく、現場のエンジニアやデザイナー、営業担当からの要望など、様々な関係者からストーリーが並べられます（逆に言えば、次に入るあなたにもストーリーを書く権利と義務があります）。\n\n実装からデプロイにおいては、各エンジニアがデザイナーと協力して、GitHub Flow  に基づいて作業を進めます。Pull Request のコードレビューは全員で行います。基本的にできあがったものからデプロイしていくので、ひとつひとつがそれで完結している必要がありますが、そこはエンジニア同士でよろしくやっています。\n\nチームは何人くらいの、どのような構成ですか？\n開発チームは現在、常駐スタッフが5名で、以下の構成となります。\n\nプロダクトマネージャー　1名\n技術監修　1名（ほぼリモート）\nWebエンジニア　3名（内1名は業務委託で、半分リモート）\nデザイナー　1名\nライター　1名\n\nこの仕事のやりがいはズバリ何でしょう？\nコードレビューを受けるだけでなく、新人であってもベテランのコードレビューをすることが求められるので、プログラミングスキルの成長が早い。\n参加するプロダクトがエンジニアのためのサービスなので、企画段階から意見を聞かれたり、エンジニアの提案が取り入れられることが多い。\nインフラ作りからサービスの管理運用までできる。（＝DevOps です）\n\n\n\n提示年収の上限額を出してもいいと思える人材像は？\n可読性の高いコードが書け、コードレビューに抵抗がない。\nテストがしっかりと書け、自動化の取り組みを率先して行える。\nGit を自在に使いこなせて人に教えることもできる。\nプロダクトづくりに主体的に取り組め、適切な改善案を提案できる。\n\n会社や職場環境について自慢できることはありますか？\nオフィスの立地が、表参道駅より徒歩1分以内と便利。（アップルストア表参道までは徒歩5分！）\n週1回水曜日、リモート勤務可能日を設けています。\nナポリの国際ピッツァ大会入賞のピザがおいしいイタリアンのお店「ナプレ南青山店」がビルの隣。また「クア・アイナ青山本店」や「俺のフレンチ・イタリアン AOYAMA」も歩いて2分以内の場所。お昼時には周辺にランチ屋台が出ることも多く、ランチ事情は良好です。\n自転車通勤可。（ただし室内保管が可能なスポーツ車のみで、エレベーターが混んでいるときは階段で4Fフロアまで持って上がる必要あり。また保険の加入が必須）\n\n応募者に向けてメッセージをどうぞ！\nあなたが今まさにご覧になっているこのサービス「Forkwell Jobs」を作るお仕事です！\n\n単に開発の人員確保という意味合いではなく、「エンジニアが幸せに働ける場所と仲間を見つける手助けをする」という Forkwell のミッションにコミットし、サービスの成長を共に喜べる仲間になれる方を求めています。\n\n株式会社grooves 自体は設立約10年で他の事業チームを含めて社員30名規模の会社ですが、「HR × IT」の分野でイノベーションを起こす可能性のある会社として、複数のVCから投資してもらっています。\nエンジニアが非常に尊重される環境で、週1のリモート勤務もエンジニアの提案から始まったものです。\n\nエンジニアと企業の関係の在り方を、もっとより良いものにすることに興味のある方、ぜひ一度オフィスへ遊びに来てみませんか？\nエントリーお待ちしています！\n\n\n\n\n\nその他の条件\n\n勤務時間・休日休暇\n【勤務時間】 10:00〜19:00\n【休日休暇】 土日祝日、夏季休暇、GW、年末年始休暇、有給休暇、慶弔休暇\n\n社会保険・福利厚生など\n通勤交通費支給（月額5万円まで）\n昇給年2回\n社会保険完備\n健康診断・インフルエンザ予防接種会社負担\n保養施設・フィットネスジム・スポーツ施設利用補助\n\nオファーまでの目安\n2〜3週間\n\n\n 求人詳細\n\n\n 会社情報\n\n\n 応援チャート\n\n\n\n",
          "company": {
            "name": "株式会社grooves",
            "screen_name": "grooves"
          }
        }
      ]
